<div class="col-sm-12 col-md-12 topCardHeight" style="padding:0px; margin: 0px;">
  <div class="card text-white backgroundImage text-center topCardHeight" style="margin-bottom: 8px;">
    <div class="card-body" style="padding: 0px;">
      <blockquote class="card-bodyquote" style="padding: 0px;">
        <!-- <h1>Awards</h1> -->

        <img src="../../../../assets/img/experience.jpg" alt="" class="my-img">
       
      </blockquote>

     

    </div>
  </div>
</div>


<div class="card" style="margin: 0px; padding: 0px; min-height: 600px;">
    
    <div class="card-body">


      <div class="row ">

        

        <div class="col-md-4" >



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card mat-elevation-z6">
                  <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> 
                    CITY GROUP
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

                  

                   


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <img  src='assets/img/city_group.jpg' 
                            style="width: 100%; height: 100%; ">
                        </div>
                    </div>

                    <table class="table table-sm table-bordered" style="margin-bottom: 0px; padding-bottom: 0px;">

                        
                     
                        <tbody class="MyCustomFont">
  
                          <tr style="height: 20px;">
                              <td style="width: 50%;">
                                  <i class="fa fa-institution"></i> 
                                  City Group
                              </td>
                              <td style="width: 50%; text-align: right;">
                                  <i class="fa fa-android"></i>
                                Executive IT
                              </td>
                            </tr>
  
                            <tr>
                              <td style="width: 50%;">
                                  <i class="fa fa-map-marker"></i>
                                  Dhaka, Bangladesh
                              </td>
                              <td style="width: 50%; text-align: right;">
                                  <i class="fa fa-calendar"></i>
                                December, 2018 - Present
                              </td>
                            </tr>
  
                        </tbody>
                      </table>


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                                <h6 style="margin: 0px; padding: 5px;">Duties / Responsibilities</h6>
                            </div>
                            <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                                <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                                    <li>Design and develop mobile application in android.</li>
                                    <li>Built Android apps with back-end REST API integration.</li>
                                    <li>Using Oracle Database for storing customers data.</li>
                                    <li>Optimize the flexibility of apps to different mobile devices.</li>
                                    <li>Develop web application with Node.js</li>
                                    <li>Recorded exact details of errors during testing.</li>
                                </ul>
                            </div>
                            
                          
                        </div>
                    </div>
                
                  </div>
                </div>
              </div>





        </div>




        <div class="col-md-4" >



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card mat-elevation-z6" >
                  <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> 
                    ICT DIVISION
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

                  

                   


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <img  src='assets/img/sdmgap.jpg' 
                            style="width: 100%; height: 100%; ">
                        </div>
                    </div>


                    <table class="table table-sm table-bordered" style="margin-bottom: 0px; padding-bottom: 0px;">

                        
                     
                        <tbody class="MyCustomFont">
  
                          <tr style="height: 20px;">
                              <td style="width: 50%;">
                                  <i class="fa fa-institution"></i> 
                                  ICT DIVISION
                              </td>
                              <td style="width: 50%; text-align: right;">
                                  <i class="fa fa-android"></i>
                                Android Trainer
                              </td>
                            </tr>
  
                            <tr>
                              <td style="width: 50%;">
                                  <i class="fa fa-map-marker"></i>
                                  Dhaka, Bangladesh
                              </td>
                              <td style="width: 50%; text-align: right;">
                                  <i class="fa fa-calendar"></i>
                                April, 2018 - November, 2018
                              </td>
                            </tr>
  
                        </tbody>
                      </table>

                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                                <h6 style="margin: 0px; padding: 5px;">Duties / Responsibilities</h6>
                            </div>
                            <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                                <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                                    <li>Provided easy to understand training in Java and OOP.</li>
                                    <li>Integrated Google play services and Google Maps.</li>
                                    <li>Taught trainees about bugs fixing, design patterns & debugging.</li>
                                    <li>Implemented Location Listener service on Google Maps.</li>
                                    <li>Provided proper guideline about UI/UX.</li>
                                    <li>Programmed with clean, modular, robust code using Java.</li>
                                </ul>
                            </div>
                            
                          
                        </div>
                    </div>
                
                  </div>
                </div>
              </div>





        </div>





        <div class="col-md-4" >



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card mat-elevation-z6" >
                  <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> 
                    Haricot Textile Limited
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

                  

                    


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <img  src='assets/img/haricot.jpg' 
                            style="width: 100%; height: 100%; ">
                        </div>
                    </div>


                    <table class="table table-sm table-bordered" style="margin-bottom: 0px; padding-bottom: 0px;">

                        
                     
                        <tbody class="MyCustomFont">
  
                          <tr style="height: 20px;">
                              <td style="width: 50%;">
                                  <i class="fa fa-institution"></i> 
                                  Haricot Textile Limited
                              </td>
                              <td style="width: 50%; text-align: right;">
                                  <i class="fa fa-android"></i>
                                Software Engineer (Part Time)
                              </td>
                            </tr>
  
                            <tr>
                              <td style="width: 50%;">
                                  <i class="fa fa-map-marker"></i>
                                  Dhaka, Bangladesh
                              </td>
                              <td style="width: 50%; text-align: right;">
                                  <i class="fa fa-calendar"></i>
                                February, 2016 - April, 2018
                              </td>
                            </tr>
  
                        </tbody>
                      </table>


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                                <h6 style="margin: 0px; padding: 5px;">Duties / Responsibilities</h6>
                            </div>
                            <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                                <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                                    <li>Analysed user interface and consulted with client.</li>
                                    <li>Contribute and participate in new feature product specifications.</li>
                                    <li>Integrated Email, Password login feature with firebase.</li>
                                    <li>Designed the features for the database interface.</li>
                                    <li>Worked with Google Maps and Google Location API.</li>
                                    <li>Worked with the UI team to design the appropriate icon.</li>
                                </ul>
                            </div>
                            
                          
                        </div>
                    </div>
                
                  </div>
                </div>
              </div>





        </div>





      

        



        
        

       

      </div>


      


    </div>
  </div>
