/* .topCardHeight{
    height: 300px;
    background-color: #303f9f;
    color: #fff;
}

.backgroundImage{
    background-image: url('header_card.png');
    background-blend-mode: overlay;
    background-size: 300px;
} */