<div class="col-sm-12 col-md-12 topCardHeight" style="padding:0px; margin: 0px;">
  <div class="card text-white backgroundImage text-center topCardHeight" style="margin-bottom: 8px;">
    <div class="card-body" style="padding: 0px;">
      <blockquote class="card-bodyquote" style="padding: 0px;">
        <!-- <h1>Awards</h1> -->

        <img src="../../../../assets/img/education.jpg" alt="" class="my-img">
       
      </blockquote>

     

    </div>
  </div>
</div>


<div class="card" style="margin: 0px; padding: 0px; min-height: 600px;">
    
    <div class="card-body">


      <div class="row ">

        

        <div class="col-md-4" >



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card mat-elevation-z6">
                  <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> 
                    Daffodil International University
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

                  

                   


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <img  src='assets/img/daffodil.jpg' 
                            style="width: 100%; height: 100%; ">
                        </div>
                    </div>

                    <table class="table table-sm table-bordered" style="margin-bottom: 0px; padding-bottom: 0px;">

                        
                     
                        <tbody class="MyCustomFont">
  
                          <tr style="height: 20px;">
                              <td style="width: 75%;">
                                  <i class="fa fa-institution"></i> 
                                  Daffodil International University
                              </td>
                              <td style="width: 25%; text-align: right;">
                                  <i class="fa fa-map-marker"></i>
                                Dhaka, BD
                              </td>
                            </tr>
  
                            <tr>
                              <td style="width: 75%;">
                                  <i class="fa fa-graduation-cap"></i>
                                  B.Sc in Computer Science & Engineering
                              </td>
                              <td style="width: 25%; text-align: right;">
                                  <i class="fa fa-calendar"></i>
                                 2019
                              </td>
                            </tr>
  
                        </tbody>
                      </table>


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                                <h6 style="margin: 0px; padding: 5px;">What I've learned/Precipitated</h6>
                            </div>
                            <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                                <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                                    <li>Java, Javascript, C, C#, HTML5, CSS3, Python, Dart & Kotlin;</li>
                                    <li>Data Structure, Algorithm, Computer Architecture & Database;</li>
                                    <li>Data communications, Computer Network & Network security;</li>
                                    <li>SDLC, Artificial Intelligence & Embadded Systems;</li>
                                    <li>Image Processing, Internet of Things (IoT) & Digital Electronics;</li>
                                    <li>Attended Problem Solving competetions and hackathons;</li>
                                </ul>
                            </div>
                            
                          
                        </div>
                    </div>
                
                  </div>
                </div>
              </div>





        </div>




        <div class="col-md-4" >



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card mat-elevation-z6">
                  <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> 
                    BEPZA Public School and College
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

                  

                   


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <img  src='assets/img/bepza.jpg' 
                            style="width: 100%; height: 100%; ">
                        </div>
                    </div>

                    <table class="table table-sm table-bordered" style="margin-bottom: 0px; padding-bottom: 0px;">

                        
                     
                        <tbody class="MyCustomFont">
  
                          <tr style="height: 20px;">
                              <td style="width: 75%;">
                                  <i class="fa fa-institution"></i> 
                                  BEPZA Public School and College
                              </td>
                              <td style="width: 25%; text-align: right;">
                                  <i class="fa fa-map-marker"></i>
                                Dhaka, BD
                              </td>
                            </tr>
  
                            <tr>
                              <td style="width: 75%;">
                                  <i class="fa fa-graduation-cap"></i>
                                  Higher Secondary Certificate (H.S.C) in Science
                              </td>
                              <td style="width: 25%; text-align: right;">
                                  <i class="fa fa-calendar"></i>
                                    2014
                              </td>
                            </tr>
  
                        </tbody>
                      </table>


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                                <h6 style="margin: 0px; padding: 5px;">What I've learned/Precipitated</h6>
                            </div>
                            <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                                <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                                    <li>Math, Physics, Chemistry, Biology, Literature;</li>
                                    <li>Attended Debating and Computer Club;</li>
                                    <li>Attended games class (Volly ball and Badminton);</li>
                                    <li>Attended various cultural functions;</li>
                                    <li>Worked with volunteer team;</li>
                                    <li>Attended college central sports;</li>
                                </ul>
                            </div>
                            
                          
                        </div>
                    </div>
                
                  </div>
                </div>
              </div>





        </div>





        <div class="col-md-4" >



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card mat-elevation-z6">
                  <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> 
                    Baidgaon High School
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

                  

                   


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <img  src='assets/img/baidgaon.jpg' 
                            style="width: 100%; height: 100%; ">
                        </div>
                    </div>

                    <table class="table table-sm table-bordered" style="margin-bottom: 0px; padding-bottom: 0px;">

                        
                     
                        <tbody class="MyCustomFont">
  
                          <tr style="height: 20px;">
                              <td style="width: 75%;">
                                  <i class="fa fa-institution"></i> 
                                  Baidgaon High School
                              </td>
                              <td style="width: 25%; text-align: right;">
                                  <i class="fa fa-map-marker"></i>
                                Dhaka, BD
                              </td>
                            </tr>
  
                            <tr>
                              <td style="width: 75%;">
                                  <i class="fa fa-graduation-cap"></i>
                                  Secondary School Certificate (S.S.C) in Science
                              </td>
                              <td style="width: 25%; text-align: right;">
                                  <i class="fa fa-calendar"></i>
                                2012
                              </td>
                            </tr>
  
                        </tbody>
                      </table>


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                                <h6 style="margin: 0px; padding: 5px;">What I've learned/Precipitated</h6>
                            </div>
                            <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                                <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                                  <li>Math, Physics, Chemistry, Biology, Literature;</li>
                                  <li>Studied Agriculture Science;</li>
                                  <li>Attended Scouting;</li>
                                  <li>Attended debate club and cultural club;</li>
                                  <li>Worked as teacher's assistant;</li>
                                  <li>Attended school's central gardening project;</li>
                                </ul>
                            </div>
                            
                          
                        </div>
                    </div>
                
                  </div>
                </div>
              </div>





        </div>





      

        



        
        

       

      </div>


      


    </div>
</div>
