<div class="col-sm-12 col-md-12 topCardHeight" style="padding:0px; margin: 0px;">
  <div class="card text-white backgroundImage text-center topCardHeight" >
    <div class="card-body">
      <blockquote class="card-bodyquote">
        <!-- <h1>HOME</h1> -->
      </blockquote>
    </div>
  </div>
</div>


<div class="card" style="margin: 0px; padding: 0px; min-height: 600px;">
    
    <div class="card-body">


      <div class="row ">

        

      




        <div class="col-md-4" style="padding-bottom: 15px;">



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card" style="padding: 0px; margin: 0px;">
                  <div class="card-header" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> Professional Skills
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 2px; max-height: 430px; overflow: scroll;">

                  

                    <table class="table  table-bordered" style="margin-bottom: 0px; padding-bottom: 0px;">

                        
                     
                      <tbody class="MyCustomFont">

                        <tr>
                            <td style="width: 60%;">Mobile Application Development</td>
                            <td style="width: 40%">
                                <div>
                                    <progressbar class="progress progress-striped" [value]="90" [max]="100" type="success">90%</progressbar>
                                </div>
                            </td>
                        </tr>



                          <tr>
                            <td style="width: 60%;">Angular</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="80" [max]="100" type="danger">80%</progressbar>
                                  </div> 
                            </td>
                          </tr>


                          <tr>
                            <td style="width: 60%;">Graphics Design (UI/UX)</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="80" [max]="100" type="info">80%</progressbar>
                                  </div> 
                            </td>
                          </tr>



                          <tr>
                            <td style="width: 60%;">Software Development (.NET)</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="70" [max]="100" type="warning">70%</progressbar>
                                  </div> 
                            </td>
                          </tr>



                         



                          <tr>
                            <td style="width: 60%;">Flutter</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="70" [max]="100" type="success">70%</progressbar>
                                  </div> 
                            </td>
                          </tr>







                          <tr>
                            <td style="width: 60%;">Android Studio</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="90" [max]="100" type="danger">90%</progressbar>
                                  </div> 
                            </td>
                          </tr>


                          <tr>
                            <td style="width: 60%;">Eclipse / Netbeans</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="80" [max]="100" type="info">80%</progressbar>
                                  </div> 
                            </td>
                          </tr>



                          <tr>
                            <td style="width: 60%;">Oracle SQL Developer Tools</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="80" [max]="100" type="warning">80%</progressbar>
                                  </div> 
                            </td>
                          </tr>




                          <tr>
                            <td style="width: 60%;">Adobe Photoshop / Illustrator</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="80" [max]="100" type="danger">80%</progressbar>
                                  </div> 
                            </td>
                          </tr>



                          <tr>
                            <td style="width: 60%;">MS Office</td>
                            <td style="width: 40%">
                                <div>
                                    <progressbar class="progress progress-striped" [value]="70" [max]="100" type="success">70%</progressbar>
                                </div>
                            </td>
                        </tr>

                  

                         


                      </tbody>
                    </table>
                
                  </div>
                </div>
              </div>





        </div>








        <div class="col-md-4" style="padding-bottom: 15px;">



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card" style="padding: 0px; margin: 0px;">
                  <div class="card-header" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> Programming / Markup Language
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 2px; max-height: 450px; overflow: scroll; min-height: 430px;">

                  

                    <table class="table  table-bordered" style="margin-bottom: 0px; padding-bottom: 0px;">

                        
                     
                      <tbody class="MyCustomFont">

                        <tr>
                            <td style="width: 60%;">Java</td>
                            <td style="width: 40%">
                                <div>
                                    <progressbar class="progress progress-striped" [value]="90" [max]="100" type="success">90%</progressbar>
                                </div>
                            </td>
                        </tr>



                          <tr>
                            <td style="width: 60%;">Javascript</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="80" [max]="100" type="danger">80%</progressbar>
                                  </div> 
                            </td>
                          </tr>


                          <tr>
                            <td style="width: 60%;">C</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="80" [max]="100" type="info">80%</progressbar>
                                  </div> 
                            </td>
                          </tr>



                          <tr>
                            <td style="width: 60%;">HTML5, CSS3</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="80" [max]="100" type="warning">80%</progressbar>
                                  </div> 
                            </td>
                          </tr>



                          <tr>
                            <td style="width: 60%;">Kotlin</td>
                            <td style="width: 40%">
                                <div>
                                    <progressbar class="progress progress-striped" [value]="70" [max]="100" type="success">70%</progressbar>
                                </div>
                            </td>
                        </tr>



                          <tr>
                            <td style="width: 60%;">Python</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="70" [max]="100" type="danger">70%</progressbar>
                                  </div> 
                            </td>
                          </tr>


                          <tr>
                            <td style="width: 60%;">Dart</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="70" [max]="100" type="info">70%</progressbar>
                                  </div> 
                            </td>
                          </tr>



                          <tr>
                            <td style="width: 60%;">Type Script</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="70" [max]="100" type="warning">70%</progressbar>
                                  </div> 
                            </td>
                          </tr>





                          <tr>
                            <td style="width: 60%;">C#</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="60" [max]="100" type="info">60%</progressbar>
                                  </div> 
                            </td>
                          </tr>

                         


                      </tbody>
                    </table>
                
                  </div>
                </div>
              </div>





        </div>






        <div class="col-md-4" style="padding-bottom: 15px;">



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card" style="padding: 0px; margin: 0px;">
                  <div class="card-header" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> Tools and Technologies
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 2px; max-height: 430px; overflow: scroll;">

                  

                    <table class="table  table-bordered" style="margin-bottom: 0px; padding-bottom: 0px;">

                        
                     
                      <tbody class="MyCustomFont">

                        <tr>
                            <td style="width: 60%;">Android SDK</td>
                            <td style="width: 40%">
                                <div>
                                    <progressbar class="progress progress-striped" [value]="90" [max]="100" type="success">90%</progressbar>
                                </div>
                            </td>
                        </tr>



                          <tr>
                            <td style="width: 60%;">Gradle</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="90" [max]="100" type="danger">90%</progressbar>
                                  </div> 
                            </td>
                          </tr>


                          <tr>
                            <td style="width: 60%;">API (Deveolopment and Usage)</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="80" [max]="100" type="info">80%</progressbar>
                                  </div> 
                            </td>
                          </tr>



                          <tr>
                            <td style="width: 60%;">Retrofit</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="90" [max]="100" type="warning">90%</progressbar>
                                  </div> 
                            </td>
                          </tr>



                          <tr>
                            <td style="width: 60%;">JSON</td>
                            <td style="width: 40%">
                                <div>
                                    <progressbar class="progress progress-striped" [value]="80" [max]="100" type="success">80%</progressbar>
                                </div>
                            </td>
                        </tr>



                          <tr>
                            <td style="width: 60%;">XML</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="90" [max]="100" type="danger">90%</progressbar>
                                  </div> 
                            </td>
                          </tr>


                          <tr>
                            <td style="width: 60%;">Git</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="80" [max]="100" type="info">80%</progressbar>
                                  </div> 
                            </td>
                          </tr>



                          <tr>
                            <td style="width: 60%;">Google Maps</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="80" [max]="100" type="warning">80%</progressbar>
                                  </div> 
                            </td>
                          </tr>




                          <tr>
                            <td style="width: 60%;">Material Design</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="70" [max]="100" type="danger">70%</progressbar>
                                  </div> 
                            </td>
                          </tr>


                          <tr>
                            <td style="width: 60%;">Web Service</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="80" [max]="100" type="info">80%</progressbar>
                                  </div> 
                            </td>
                          </tr>



                          <tr>
                            <td style="width: 60%;">Node.JS</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="70" [max]="100" type="warning">70%</progressbar>
                                  </div> 
                            </td>
                          </tr>



                          <tr>
                            <td style="width: 60%;">Selenium</td>
                            <td style="width: 40%">
                                <div>
                                    <progressbar class="progress progress-striped" [value]="60" [max]="100" type="success">60%</progressbar>
                                </div>
                            </td>
                        </tr>



                          <tr>
                            <td style="width: 60%;">RDLC (reporting)</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="70" [max]="100" type="danger">70%</progressbar>
                                  </div> 
                            </td>
                          </tr>


                         



                         



                         


                      </tbody>
                    </table>
                
                  </div>
                </div>
              </div>





        </div>







        
        <div class="col-md-4" style="padding-bottom: 15px;">



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card" style=" padding: 0px; margin: 0px;">
                  <div class="card-header" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> Database Skills
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 2px; max-height: 430px; overflow: scroll;">

                  

                    <table class="table  table-bordered" style="margin-bottom: 0px; padding-bottom: 0px;">

                        
                     
                      <tbody class="MyCustomFont">

                        <tr>

                            <td style="width: 60%;">Oracle Database</td>
                            
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="90" [max]="100" type="success">90%</progressbar>
                                  </div> 
                            </td>
                          </tr>



                          <tr>
                            <td style="width: 60%;">MySQL Database</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="80" [max]="100" type="danger">80%</progressbar>
                                  </div> 
                            </td>
                          </tr>


                          <tr>
                            <td style="width: 60%;">SQLite Dtabase</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="80" [max]="100" type="info">80%</progressbar>
                                  </div> 
                            </td>
                          </tr>



                          <tr>
                            <td style="width: 60%;">Firebase Realtime Database</td>
                            <td style="width: 40%">
                                <div >
                                    <progressbar class="progress progress-striped" [value]="80" [max]="100" type="warning">80%</progressbar>
                                  </div> 
                            </td>
                          </tr>



                         



                         


                      </tbody>
                    </table>
                
                  </div>
                </div>
              </div>





        </div>


        

        
       

 
        
        



        
        

       

      </div>


      


    </div>
  </div>
