<div class="col-sm-12 col-md-12 topCardHeight" style="padding:0px; margin: 0px;">
  <div class="card text-white backgroundImage text-center topCardHeight" >
    <div class="card-body">
      <blockquote class="card-bodyquote">
        <!-- <h1>HOME</h1> -->
      </blockquote>
    </div>
  </div>
</div>


<div class="card" style="margin: 0px; padding: 0px; min-height: 600px;">
    
    <div class="card-body">


      <div class="row ">

        

        <div class="col-md-4" >


            <div class="col-md-12" style="padding: 0px; margin: 0px;">
                <div class="card mat-elevation-z6 minHeight" >
                  <div class="card-header MyCustomFont" style="font-weight: bold; color: #2F2875;">
                    <i class="fa fa-align-justify"></i> JUBORAJ SARKER
                  </div>
                  <div class="card-body">
                   
                    <p  class="MyCustomFont">
                        I'm a hardworking and faithful person. I like honesty, personality, punctuality and sincerity. Very much passionate with Mobile Application Developing. <br> 
                    </p>

                    <p class="MyCustomFont">
                        People find me to be an upbeat, self-motivated team player with excellent IT skills. For the last several years, I worked hard to be expert in technology. My strong zone includes: <br>
                    </p>

                    <ul class="MyCustomFont" style="color: #167495; ">
                        <li>Professional Mobile Application Development;</li>
                        <li>Progressive Web Application Development (ANGULAR);</li>
                        <li>Expertise in Oracle, MYSql, SQLite and Firebase database;</li>
                        <li>Good Communication, Leadership and Problem Solving skills;</li>
                    </ul>

                    <p class="MyCustomFont">
                        I am a quick learner. I always try to increase my knowledge by learning new technology and want to make a good relationship with people all over the world.
                    </p>

                  </div>
                </div>
              </div>
        </div>



        

        
        <div class="col-md-4" >


            <div class="col-md-12" style="padding: 0px; margin: 0px;">
                <div class="card mat-elevation-z6 minHeight">
                  <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> Myself
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 0px;">
                    <img  src='assets/img/juboraj_square.jpg'  class="myImage">
                  </div>
                   
                </div>
              </div>
        </div>



        
        <div class="col-md-4" >



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card mat-elevation-z6 minHeight">
                  <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> Find me on
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding-bottom: 0px;">

                    <div class="col-md-12" style="display: inline-block;">
                        <i class="icon-envelope icons font-2xl d-block" style="float: left; "></i>
                        <p class="MyCustomFont" style="float: left; padding-left: 10px;">juborajsarker001@gmail.com</p>
                    </div>
                    <div class="col-md-12">
                        <i class="icon-phone icons font-2xl d-block" style=" float: left;"></i>
                        <p class="MyCustomFont" style="float: left; padding-left: 10px;">+88 01938-365335</p>
                    </div>
                    <br>

                    <table class="table table-striped table-sm" style="margin-bottom: 0px; padding-bottom: 0px;">
                     
                      <tbody>

                        <tr style="padding: 0px;">
                            <td>
                              <i class="icon-control-play icons font-2xl d-block" 
                              style=" float: left; background-color: #2F2875; padding: 5px; color:#fff;">
                               </i>
                               <a class="MyCustomFont" href="https://play.google.com/store/apps/dev?id=6155570899607409709" target="_blank" style="margin-left: 15px; display: inline;">Google Play Developer Page</a>
                            </td>
                          </tr>

                        <tr>
                          <td>
                            <i class="icon-social-linkedin icons font-2xl d-block" 
                            style=" float: left; background-color: #2F2875; padding: 5px; color:#fff;">
                             </i>
                             <a class="MyCustomFont" href="https://www.linkedin.com/in/juboraj-sarker" target="_blank" style="margin-left: 15px; display: inline;">linkedin.com/in/juboraj-sarker</a>
                          </td>
                        </tr>

                           <tr>
                          <td>
                            <i class="icon-social-github icons font-2xl d-block" 
                            style=" float: left; background-color: #2F2875; padding: 5px; color:#fff;">
                             </i>
                             <a class="MyCustomFont" href="https://www.github.com/Juboraj-Sarker" target="_blank" style="margin-left: 15px; display: inline;">github.com/Juboraj-Sarker</a>
                          </td>
                        </tr>


                          <tr>
                          <td>
                            <i class="icon-social-twitter icons font-2xl d-block" 
                            style=" float: left; background-color: #2F2875; padding: 5px; color:#fff;">
                             </i>
                             <a class="MyCustomFont" href="https://www.twitter.com/juboraj_sarker" target="_blank" style="margin-left: 15px; display: inline;">twitter.com/juboraj_sarker</a>
                          </td>
                        </tr>


                           <tr>
                          <td>
                            <i class="icon-social-facebook icons font-2xl d-block" 
                            style=" float: left; background-color: #2F2875; padding: 5px; color:#fff;">
                             </i>
                             <a class="MyCustomFont" href="https://www.facebook.com/sarker.juboraj" target="_blank" style="margin-left: 15px; display: inline;">facebook.com/sarker.juboraj</a>
                          </td>
                        </tr>


                           <tr>
                          <td>
                            <i class="icon-social-instagram icons font-2xl d-block" 
                            style=" float: left; background-color: #2F2875; padding: 5px; color:#fff;">
                             </i>
                             <a class="MyCustomFont" href="https://www.instagram.com/juboraj.sarker" target="_blank" style="margin-left: 15px; display: inline;">instagram.com/juboraj.sarker</a>
                          </td>
                        </tr>


                      </tbody>
                    </table>
                
                  </div>
                </div>
              </div>





        </div>

       





      </div>


      


    </div>
  </div>
