<div class="col-sm-12 col-md-12 topCardHeight" style="padding:0px; margin: 0px;">
    <div class="card text-white backgroundImage text-center topCardHeight" style="margin-bottom: 8px;">
      <div class="card-body" style="padding: 0px;">
        <blockquote class="card-bodyquote" style="padding: 0px;">
          <!-- <h1>Awards</h1> -->

          <img src="../../../../assets/img/awards.jpg" alt="" class="my-img">
         
        </blockquote>

       

      </div>
    </div>
  </div>




<div class="card" style="margin: 0px; padding: 0px; min-height: 600px;">
    
    <div class="card-body">


      <div class="row ">

        

        <div class="col-md-4" >



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card mat-elevation-z6">
                  <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> 
                    LICT Best Project Award (Android)
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

                  

                   


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <img  src='assets/img/award_1.jpg' 
                            style="width: 100%; height: 100%; ">
                        </div>
                    </div>

                    <table class="table table-sm table-bordered" style="margin-bottom: 0px; padding-bottom: 0px;">

                        
                     
                        <tbody class="MyCustomFont">
  
                          <tr style="height: 20px;">
                              <td style="width: 70%;">
                                  <i class="fa fa-institution"></i> 
                                  ICT Division
                              </td>
                              <td style="width: 30%; text-align: right;">
                                  <i class="fa fa-map-marker"></i>
                                Dhaka, BD
                              </td>
                            </tr>
  
                            <tr>
                              <td style="width: 70%;">
                                  <i class="fa fa-graduation-cap"></i>
                                  LICT Best Project Award (Android)
                              </td>
                              <td style="width: 30%; text-align: right;">
                                  <i class="fa fa-calendar"></i>
                                2018
                              </td>
                            </tr>
  
                        </tbody>
                      </table>


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                                <h6 style="margin: 0px; padding: 5px;">Descriptions</h6>
                            </div>
                            <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                                <p class="MyCustomFont" style="padding: 5px;">
                                  Received LICT best project award (Android) from Mustafa Jabbar (Honourable Minister - Ministry of Posts, Telecommunication and Information Technology, Govt of Bangladesh). This award was given under the project of LICT. This project made 1600 skilled android developer all over the Bangladesh. Among all of them I was awarded as the best android developer all over the Bangladesh.
                                </p>
                            </div>
                            
                          
                        </div>
                    </div>
                
                  </div>
                </div>
              </div>





        </div>




        <div class="col-md-4" >



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card mat-elevation-z6">
                  <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> 
                    RIGHT Presents Android Application Contest
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

                  

                   


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <img  src='assets/img/award_2.jpg' 
                            style="width: 100%; height: 100%; ">
                        </div>
                    </div>

                    <table class="table table-sm table-bordered" style="margin-bottom: 0px; padding-bottom: 0px;">

                        
                     
                        <tbody class="MyCustomFont">
  
                          <tr style="height: 20px;">
                              <td style="width: 70%;">
                                  <i class="fa fa-institution"></i> 
                                  Daffodil International University
                              </td>
                              <td style="width: 30%; text-align: right;">
                                  <i class="fa fa-map-marker"></i>
                                Dhaka, BD
                              </td>
                            </tr>
  
                            <tr>
                              <td style="width: 70%;">
                                  <i class="fa fa-graduation-cap"></i>
                                  RIGHT Presents Android Application Contest
                              </td>
                              <td style="width: 30%; text-align: right;">
                                  <i class="fa fa-calendar"></i>
                                2019
                              </td>
                            </tr>
  
                        </tbody>
                      </table>


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                                <h6 style="margin: 0px; padding: 5px;">Descriptions</h6>
                            </div>
                            <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                               <p class="MyCustomFont" style="padding: 5px;">
                                The contest held at Daffodil International University at 24th March 2019. The contest was supported by Bangladesh Computer Council (BCC), Organized by RIGHT IT Innovative Organization and Knowledge Partner by Daffodil International University. Total 30 projects were shortlisted for the final contest. Among all of them my project (Medicare) was awarded as the best android project.
                              </p>
                            </div>
                            
                          
                        </div>
                    </div>
                
                  </div>
                </div>
              </div>





        </div>





        <div class="col-md-4" style="display: none;">



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card mat-elevation-z6" >
                  <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> 
                    Baidgaon High School
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

                  

                   


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <img  src='assets/img/baidgaon.jpg' 
                            style="width: 100%; height: 100%; ">
                        </div>
                    </div>

                    <table class="table table-sm table-bordered" style="margin-bottom: 0px; padding-bottom: 0px;">

                        
                     
                        <tbody class="MyCustomFont">
  
                          <tr style="height: 20px;">
                              <td style="width: 70%;">
                                  <i class="fa fa-institution"></i> 
                                  Baidgaon High School
                              </td>
                              <td style="width: 30%; text-align: right;">
                                  <i class="fa fa-map-marker"></i>
                                Dhaka, BD
                              </td>
                            </tr>
  
                            <tr>
                              <td style="width: 70%;">
                                  <i class="fa fa-graduation-cap"></i>
                                  Secondary School Certificate (S.S.C) in Science
                              </td>
                              <td style="width: 30%; text-align: right;">
                                  <i class="fa fa-calendar"></i>
                                2017
                              </td>
                            </tr>
  
                        </tbody>
                      </table>


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                                <h6 style="margin: 0px; padding: 5px;">Duties / Responsibilities</h6>
                            </div>
                            <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                                <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                                    <li>Design and develop mobile application in android.</li>
                                    <li>Built Android apps with back-end REST API integration.</li>
                                    <li>Using Oracle Database for storing customers data.</li>
                                    <li>Optimize the flexibility of apps to different mobile devices.</li>
                                    <li>Develop web application with Node.js</li>
                                    <li>Recorded exact details of errors during testing.</li>
                                </ul>
                            </div>
                            
                          
                        </div>
                    </div>
                
                  </div>
                </div>
              </div>





        </div>





      

        



        
        

       

      </div>


      


    </div>
  </div>

