<div class="col-sm-12 col-md-12 topCardHeight" style="padding:0px; margin: 0px;">
    <div class="card text-white backgroundImage text-center topCardHeight" >
      <div class="card-body">
        <blockquote class="card-bodyquote">
          <!-- <h1>HOME</h1> -->
        </blockquote>
      </div>
    </div>
  </div>










  <div class="card" style="margin: 0px; padding: 0px; min-height: 600px;">
    
    <div class="card-body">


      <div class="row ">

        

        <div class="col-md-4" >



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card mat-elevation-z6">
                  <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold; height: 40px;">
                    
                    <div class="col-md-12" style="padding: 0px; margin: 0px;">

                      <!-- <div class="col-md-6" style="padding: 0px; margin: 0px; float: left;">
                        <i class="fa fa-android"></i> Medicare
                      </div>
  
                      <div class="col-md-6" style="padding: 0px; margin: 0px;  float: left; text-align: right;">
                        <i class="fa fa-play headerIcon" tooltip="View live project of GOOGLE PLAY"></i>
                        <i class="fa fa-github headerIcon" tooltip="View source code on Github"></i>
                      </div> -->

                      
                        <i class="fa fa-android" ></i> Medicare
                     
  
                        <a href="https://github.com/Juboraj-Sarker/Medicare" target="_blank">
                          <i class="fa fa-github headerIcon" style="float: right;" tooltip="View source code on Github"></i>
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.juborajsarker.medicare" target="_blank">
                          <i class="fa fa-play headerIcon" style="float: right;" tooltip="View live project of GOOGLE PLAY"></i>
                        </a>
                        
                     

                    </div>

                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

                  

                   


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <img  src='assets/img/1_Medicare.jpg' 
                            style="width: 100%; height: 100%; ">
                        </div>
                    </div>

                   


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                                <h6 style="margin: 0px; padding: 5px;">Descriptions</h6>
                            </div>
                            <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                                <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                                    <li>Schedule a medicine for 'n' number of days. it will notify daily;</li>
                                    <li>Add appoint to any doctor. It will reminder;</li>
                                    <li>Add doctor's information or phone number like a phonebook;</li>
                                    <li>Search blood from any part of world and find donor;</li>
                                    <li>Save any diary or note. So it can use as a notebook;</li>
                                    <li>Find pharmacy, hospital & ambulance from user's location;</li>
                                </ul>
                            </div>
                            
                          
                        </div>
                    </div>
                
                  </div>
                </div>
              </div>





        </div>


        <div class="col-md-4" >



          <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
              <div class="card mat-elevation-z6" >
                <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold; height: 40px;">
                  
                  <div class="col-md-12" style="padding: 0px; margin: 0px;">

                    <i class="fa fa-android" ></i> SMS Scheduler
                     
  
                    <a href="https://github.com/Juboraj-Sarker/SMS_Scheduler" target="_blank">
                      <i class="fa fa-github headerIcon" style="float: right;" tooltip="View source code on Github"></i>
                    </a>
                    <a href="https://github.com/Juboraj-Sarker/SMS_Scheduler" target="_blank">
                      <i class="fa fa-play headerIcon" style="float: right;" tooltip="View live project of GOOGLE PLAY"></i>
                    </a>

                  </div>

                </div>
                <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

                

                 


                  <div class="col-md-12" style="padding: 0px; margin: 0px;">
                      <div style="width: 100%; padding: 0px; margin: 0px;">
                          <img  src='assets/img/2_SMS_Scheduler.jpg' 
                          style="width: 100%; height: 100%; ">
                      </div>
                  </div>

                 


                  <div class="col-md-12" style="padding: 0px; margin: 0px;">
                      <div style="width: 100%; padding: 0px; margin: 0px;">
                          <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                              <h6 style="margin: 0px; padding: 5px;">Descriptions</h6>
                          </div>
                          <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                              <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                                  <li>Help user to schedule a sms to send it later;</li>
                                  <li>User may schedule message with date and time;</li>
                                  <li>It will never miss to send sms;</li>
                                  <li>Stores data in local storage;</li>
                                  <li>No need for internet connection;</li>
                                  <li>Unlimited message scheduling options;</li>
                              </ul>
                          </div>
                          
                        
                      </div>
                  </div>
              
                </div>
              </div>
            </div>





      </div>


      <div class="col-md-4" >



        <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
            <div class="card mat-elevation-z6" >
              <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold; height: 40px;">
                
                <div class="col-md-12" style="padding: 0px; margin: 0px;">

                  <i class="fa fa-android" ></i> System Info
                     
  
                        <a href="https://github.com/Juboraj-Sarker/SystemInfo" target="_blank">
                          <i class="fa fa-github headerIcon" style="float: right;" tooltip="View source code on Github"></i>
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.juborajsarker.systeminfo" target="_blank">
                          <i class="fa fa-play headerIcon" style="float: right;" tooltip="View live project of GOOGLE PLAY"></i>
                        </a>

                </div>

              </div>
              <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

              

               


                <div class="col-md-12" style="padding: 0px; margin: 0px;">
                    <div style="width: 100%; padding: 0px; margin: 0px;">
                        <img  src='assets/img/3_System_Info.jpg' 
                        style="width: 100%; height: 100%; ">
                    </div>
                </div>

               


                <div class="col-md-12" style="padding: 0px; margin: 0px;">
                    <div style="width: 100%; padding: 0px; margin: 0px;">
                        <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                            <h6 style="margin: 0px; padding: 5px;">Descriptions</h6>
                        </div>
                        <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                            <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                                <li>System Info will provide you all information about user's device;</li>
                                <li>It has been designed very nicely and categorized all data;</li>
                                <li>User will able to know about his device, Memory & Battery Info;</li>
                                <li>User also able to know about device's Network, OS & CPU Info;</li>
                                <li>It will provide device's Sensor, Installed & System Apps Info;</li>
                                <li>User may share apps via ShareIt, Bluetooth, Whatsapp etc;</li>
                            </ul>
                        </div>
                        
                      
                    </div>
                </div>
            
              </div>
            </div>
          </div>





    </div>







    






    <div class="col-md-4" >



      <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
          <div class="card mat-elevation-z6" >
            <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold; height: 40px;">
              
              <div class="col-md-12" style="padding: 0px; margin: 0px;">

                <i class="fa fa-android" ></i> Password Manager
                     
  
                        <a href="https://github.com/Juboraj-Sarker/PasswordManager" target="_blank">
                          <i class="fa fa-github headerIcon" style="float: right;" tooltip="View source code on Github"></i>
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.juborajsarker.passwordmanager" target="_blank">
                          <i class="fa fa-play headerIcon" style="float: right;" tooltip="View live project of GOOGLE PLAY"></i>
                        </a>

              </div>

            </div>
            <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

            

             


              <div class="col-md-12" style="padding: 0px; margin: 0px;">
                  <div style="width: 100%; padding: 0px; margin: 0px;">
                      <img  src='assets/img/4_Password_Manager.jpg' 
                      style="width: 100%; height: 100%; ">
                  </div>
              </div>

             


              <div class="col-md-12" style="padding: 0px; margin: 0px;">
                  <div style="width: 100%; padding: 0px; margin: 0px;">
                      <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                          <h6 style="margin: 0px; padding: 5px;">Descriptions</h6>
                      </div>
                      <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                          <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                              <li>It will help user to store user's various account password;</li>
                              <li>It will give flexibility of storing password both online and offline;</li>
                              <li>User can easily view details of all data from password manager;</li>
                              <li>User can simply copy their password and email just a single click;</li>
                              <li>All data saved in database as encrypted format;</li>
                              <li>It will ensure the best security on storing and retreiveing data;</li>
                          </ul>
                      </div>
                      
                    
                  </div>
              </div>
          
            </div>
          </div>
        </div>





    </div>



    <div class="col-md-4" >



      <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
          <div class="card mat-elevation-z6" >
            <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold; height: 40px;">
              
              <div class="col-md-12" style="padding: 0px; margin: 0px;">

                <i class="fa fa-android" ></i> Location Finder
                     
  
                        <a href="https://github.com/Juboraj-Sarker/LocationFinder" target="_blank">
                          <i class="fa fa-github headerIcon" style="float: right;" tooltip="View source code on Github"></i>
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.juborajsarker.locationfinder" target="_blank">
                          <i class="fa fa-play headerIcon" style="float: right;" tooltip="View live project of GOOGLE PLAY"></i>
                        </a>

              </div>

            </div>
            <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

            

             


              <div class="col-md-12" style="padding: 0px; margin: 0px;">
                  <div style="width: 100%; padding: 0px; margin: 0px;">
                      <img  src='assets/img/5_Location_Finder.jpg' 
                      style="width: 100%; height: 100%; ">
                  </div>
              </div>

             


              <div class="col-md-12" style="padding: 0px; margin: 0px;">
                  <div style="width: 100%; padding: 0px; margin: 0px;">
                      <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                          <h6 style="margin: 0px; padding: 5px;">Descriptions</h6>
                      </div>
                      <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                          <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                              <li>It is design for searching nearby places from user's location;</li>
                              <li>It will simply take input PlaceType and Radius (in km) from user;</li>
                              <li>Then it will simply show the best nearest places of that category;</li>
                              <li>Also it will help user to see details about any place;</li>
                              <li>It will show the shortest path for reaching that place;</li>
                              <li>User may use this application from any part of the world;</li>
                          </ul>
                      </div>
                      
                    
                  </div>
              </div>
          
            </div>
          </div>
        </div>





  </div>


  <div class="col-md-4" >



    <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
        <div class="card mat-elevation-z6" >
          <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold; height: 40px;">
            
            <div class="col-md-12" style="padding: 0px; margin: 0px;">

              <i class="fa fa-android" ></i> Private Message
                     
  
                        <a href="https://github.com/Juboraj-Sarker/PrivateMessage" target="_blank">
                          <i class="fa fa-github headerIcon" style="float: right;" tooltip="View source code on Github"></i>
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.juborajsarker.privatemessage" target="_blank">
                          <i class="fa fa-play headerIcon" style="float: right;" tooltip="View live project of GOOGLE PLAY"></i>
                        </a>

            </div>

          </div>
          <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

          

           


            <div class="col-md-12" style="padding: 0px; margin: 0px;">
                <div style="width: 100%; padding: 0px; margin: 0px;">
                    <img  src='assets/img/6_Private_Message.jpg' 
                    style="width: 100%; height: 100%; ">
                </div>
            </div>

           


            <div class="col-md-12" style="padding: 0px; margin: 0px;">
                <div style="width: 100%; padding: 0px; margin: 0px;">
                    <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                        <h6 style="margin: 0px; padding: 5px;">Descriptions</h6>
                    </div>
                    <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                        <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                            <li>It will help an user to encrypt a message;</li>
                            <li>User can share encrypted message to all social media;</li>
                            <li>Have option decrypt message from encrypted message;</li>
                            <li>User can simply copy encrypted message just a single click;</li>
                            <li>Very light weight APK size and simple UI;</li>
                            <li>It can work with or without internet;</li>
                        </ul>
                    </div>
                    
                  
                </div>
            </div>
        
          </div>
        </div>
      </div>





</div>












<div class="col-md-4" >



  <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
      <div class="card mat-elevation-z6" >
        <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold; height: 40px;">
          
          <div class="col-md-12" style="padding: 0px; margin: 0px;">

            <i class="fa fa-android" ></i> Voice Recorder
                     
  
                        <a href="https://github.com/Juboraj-Sarker/SimpleVoiceRecorder" target="_blank">
                          <i class="fa fa-github headerIcon" style="float: right;" tooltip="View source code on Github"></i>
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.juborajsarker.voicerecorder" target="_blank">
                          <i class="fa fa-play headerIcon" style="float: right;" tooltip="View live project of GOOGLE PLAY"></i>
                        </a>

          </div>

        </div>
        <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

        

         


          <div class="col-md-12" style="padding: 0px; margin: 0px;">
              <div style="width: 100%; padding: 0px; margin: 0px;">
                  <img  src='assets/img/7_Voice_Recorder.jpg' 
                  style="width: 100%; height: 100%; ">
              </div>
          </div>

         


          <div class="col-md-12" style="padding: 0px; margin: 0px;">
              <div style="width: 100%; padding: 0px; margin: 0px;">
                  <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                      <h6 style="margin: 0px; padding: 5px;">Descriptions</h6>
                  </div>
                  <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                      <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                          <li>This is very simple and efficient app for recording voice;</li>
                          <li>It is designed for record and save user’s voice in local database;</li>
                          <li>It will give flexibility in recording crystal clear and HD voice;</li>
                          <li>Optimize the flexibility of apps to different mobile devices.</li>
                          <li>This app used SQ-Lite local database to save user’s data;</li>
                          <li>Very light APK size and No need for internet connection;</li>
                      </ul>
                  </div>
                  
                
              </div>
          </div>
      
        </div>
      </div>
    </div>





</div>


<div class="col-md-4" >



<div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
    <div class="card mat-elevation-z6" >
      <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold; height: 40px;">
        
        <div class="col-md-12" style="padding: 0px; margin: 0px;">

          <i class="fa fa-android" ></i> Mind Reader
                     
  
                        <a href="https://github.com/Juboraj-Sarker/MindReader" target="_blank">
                          <i class="fa fa-github headerIcon" style="float: right;" tooltip="View source code on Github"></i>
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.juborajsarker.mindreader" target="_blank">
                          <i class="fa fa-play headerIcon" style="float: right;" tooltip="View live project of GOOGLE PLAY"></i>
                        </a>

        </div>

      </div>
      <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

      

       


        <div class="col-md-12" style="padding: 0px; margin: 0px;">
            <div style="width: 100%; padding: 0px; margin: 0px;">
                <img  src='assets/img/8_Mind_Reader.jpg' 
                style="width: 100%; height: 100%; ">
            </div>
        </div>

       


        <div class="col-md-12" style="padding: 0px; margin: 0px;">
            <div style="width: 100%; padding: 0px; margin: 0px;">
                <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                    <h6 style="margin: 0px; padding: 5px;">Descriptions</h6>
                </div>
                <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                    <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                        <li>This is a simple illusion game to make anyone amaze;</li>
                        <li>It consists two games;</li>
                        <li>First one is Mind Reader with Guess Number;</li>
                        <li>First one is Mind Reader with Guess Symbol;</li>
                        <li>User just need to do some very basic calculation;</li>
                        <li>After that user must be amazed after seeing the real magic;</li>
                    </ul>
                </div>
                
              
            </div>
        </div>
    
      </div>
    </div>
  </div>





</div>


<div class="col-md-4" >



  <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
      <div class="card mat-elevation-z6" >
        <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold; height: 40px;">
          
          <div class="col-md-12" style="padding: 0px; margin: 0px;">

            <i class="fa fa-android" ></i> CGPA Calculator
                     
  
                        <a href="https://github.com/Juboraj-Sarker/CGPACalculator" target="_blank">
                          <i class="fa fa-github headerIcon" style="float: right;" tooltip="View source code on Github"></i>
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.juborajsarker.cgpacalculator" target="_blank">
                          <i class="fa fa-play headerIcon" style="float: right;" tooltip="View live project of GOOGLE PLAY"></i>
                        </a>

          </div>

        </div>
        <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

        

         


          <div class="col-md-12" style="padding: 0px; margin: 0px;">
              <div style="width: 100%; padding: 0px; margin: 0px;">
                  <img  src='assets/img/9_CGPA_Calculator.jpg' 
                  style="width: 100%; height: 100%; ">
              </div>
          </div>

         


          <div class="col-md-12" style="padding: 0px; margin: 0px;">
              <div style="width: 100%; padding: 0px; margin: 0px;">
                  <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                      <h6 style="margin: 0px; padding: 5px;">Descriptions</h6>
                  </div>
                  <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                      <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                          <li>It will help user to calculate their CGPA and SGPA;</li>
                          <li>User can easily calculate CGPA with any number of subject;</li>
                          <li>User can calculate CGPA/SGPA with Course and Semester wise;</li>
                          <li>User can maximum add 15 courses or 12 semesters;</li>
                          <li>No need for internet connection to calculate CGPA/SGPA;</li>
                          <li>This is simple UI, light weight APK and faster in calculation;</li>
                      </ul>
                  </div>
                  
                
              </div>
          </div>
      
        </div>
      </div>
    </div>





</div>













<div class="col-md-4" >



<div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
    <div class="card mat-elevation-z6" >
      <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold; height: 40px;">
        
        <div class="col-md-12" style="padding: 0px; margin: 0px;">
        
          <i class="fa fa-android"></i> IP Calculator
        
        
          <a href="https://github.com/Juboraj-Sarker/IP_Calculator" target="_blank">
            <i class="fa fa-github headerIcon" style="float: right;" tooltip="View source code on Github"></i>
          </a>
          <a href="https://play.google.com/store/apps/details?id=juborajsarker.iplator" target="_blank">
            <i class="fa fa-play headerIcon" style="float: right;" tooltip="View live project of GOOGLE PLAY"></i>
          </a>
        
        </div>

      </div>
      <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

      

       


        <div class="col-md-12" style="padding: 0px; margin: 0px;">
            <div style="width: 100%; padding: 0px; margin: 0px;">
                <img  src='assets/img/10_IP_Calculator.jpg' 
                style="width: 100%; height: 100%; ">
            </div>
        </div>

       


        <div class="col-md-12" style="padding: 0px; margin: 0px;">
            <div style="width: 100%; padding: 0px; margin: 0px;">
                <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                    <h6 style="margin: 0px; padding: 5px;">Descriptions</h6>
                </div>
                <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                    <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                        <li>This is very userfull application for Computer Science students;</li>
                        <li>Also it will very userfull for network professionals;</li>
                        <li>This application can work with or without CIDR value;</li>
                        <li>It will help user to calculate Network Adress and Subnet Mask;</li>
                        <li>It will also show first usable host and last usable host;</li>
                        <li>All fields are available in binary format;</li>
                    </ul>
                </div>
                
              
            </div>
        </div>
    
      </div>
    </div>
  </div>





</div>


<div class="col-md-4" >



<div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
  <div class="card mat-elevation-z6" >
    <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold; height: 40px;">
      <div class="col-md-12" style="padding: 0px; margin: 0px;">
      
        <i class="fa fa-android"></i> Age Calculator
      
      
        <a href="https://github.com/Juboraj-Sarker/AgeCalculator" target="_blank">
          <i class="fa fa-github headerIcon" style="float: right;" tooltip="View source code on Github"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.juborajsarker.agecalculator" target="_blank">
          <i class="fa fa-play headerIcon" style="float: right;" tooltip="View live project of GOOGLE PLAY"></i>
        </a>
      
      </div>

    </div>
    <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

    

     


      <div class="col-md-12" style="padding: 0px; margin: 0px;">
          <div style="width: 100%; padding: 0px; margin: 0px;">
              <img  src='assets/img/11_Age_Calculator.jpg' 
              style="width: 100%; height: 100%; ">
          </div>
      </div>

     


      <div class="col-md-12" style="padding: 0px; margin: 0px;">
          <div style="width: 100%; padding: 0px; margin: 0px;">
              <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                  <h6 style="margin: 0px; padding: 5px;">Descriptions</h6>
              </div>
              <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                  <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                      <li>It will help a person to calculate his date of birth accurately;</li>
                      <li>Also it will help find out time period between two dates;</li>
                      <li>Calculation will show in Years, Months, Days & Minuets;</li>
                      <li>It will show next upcoming birthday;</li>
                      <li>All calculation has been checked by an specialist;</li>
                      <li>No need for internet connection to calculate data;</li>
                  </ul>
              </div>
              
            
          </div>
      </div>
  
    </div>
  </div>
</div>





</div>


<div class="col-md-4" >



<div class="col-md-12 " style="display: inline-block; padding: 0px; margin: 0px;">
<div class="card mat-elevation-z6" >
  <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold; height: 40px;">
    
    <div class="col-md-12" style="padding: 0px; margin: 0px;">
    
      <i class="fa fa-android"></i> Touch and Learn
    
    
      <a href="https://github.com/Juboraj-Sarker/TouchAndLearn" target="_blank">
        <i class="fa fa-github headerIcon" style="float: right;" tooltip="View source code on Github"></i>
      </a>
      <a href="https://github.com/Juboraj-Sarker/TouchAndLearn" target="_blank">
        <i class="fa fa-play headerIcon" style="float: right;" tooltip="View live project of GOOGLE PLAY"></i>
      </a>
    
    </div>

  </div>
  <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

  

   


    <div class="col-md-12" style="padding: 0px; margin: 0px;">
        <div style="width: 100%; padding: 0px; margin: 0px;">
            <img  src='assets/img/12_Touch_And_Learn.jpg' 
            style="width: 100%; height: 100%; ">
        </div>
    </div>

   


    <div class="col-md-12" style="padding: 0px; margin: 0px;">
        <div style="width: 100%; padding: 0px; margin: 0px;">
            <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                <h6 style="margin: 0px; padding: 5px;">Descriptions</h6>
            </div>
            <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                    <li>This application for kids who did not schooling yet;</li>
                    <li>It will help a kid to learn Bengali and English alphabet;</li>
                    <li>This is very easy to use and so much colorful;</li>
                    <li>Included 3 video poems so kids will love it;</li>
                    <li>Also included both bengali and english numeric alphabet;</li>
                    <li>No need for internet connections;</li>
                </ul>
            </div>
            
          
        </div>
    </div>

  </div>
</div>
</div>





</div>

















        




      





      

        



        
        

       

      </div>


      


    </div>
  </div>











