<div class="col-sm-12 col-md-12 topCardHeight" style="padding:0px; margin: 0px;">
    <div class="card text-white backgroundImage text-center topCardHeight" >
      <div class="card-body">
        <blockquote class="card-bodyquote">
          <!-- <h1>HOME</h1> -->
        </blockquote>
      </div>
    </div>
  </div>



<div class="card" style="margin: 0px; padding: 0px; min-height: 600px;">
    
    <div class="card-body" >


      <div class="row ">

        

        <div class="col-md-4" >



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card mat-elevation-z6">
                  <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> 
                    LICT (Android Apps Development)
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

                  

                   


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <img  src='assets/img/lict.jpg' 
                            style="width: 100%; height: 100%; ">
                        </div>
                    </div>

                    <table class="table table-sm table-bordered" style="margin-bottom: 0px; padding-bottom: 0px;">

                        
                     
                        <tbody class="MyCustomFont">
  
                          <tr style="height: 20px;">
                              <td style="width: 70%;">
                                  <i class="fa fa-institution"></i> 
                                  US Software Limited 
                              </td>
                              <td style="width: 30%; text-align: right;">
                                  <i class="fa fa-map-marker"></i>
                                Dhaka, BD
                              </td>
                            </tr>
  
                            <tr>
                              <td style="width: 70%;">
                                  <i class="fa fa-graduation-cap"></i>
                                  Android Application Development
                              </td>
                              <td style="width: 30%; text-align: right;">
                                  <i class="fa fa-calendar"></i>
                                2018
                              </td>
                            </tr>
  
                        </tbody>
                      </table>


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                                <h6 style="margin: 0px; padding: 5px;">What I've learned</h6>
                            </div>
                            <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                                <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                                    <li>OOP Basics, Java Basic;</li>
                                    <li>Android Overview and Quick start;</li>
                                    <li>Main Buildin blocks, Android UI, Web service, List & Adapters;</li>
                                    <li>SQLite database, Firebase realtime database;</li>
                                    <li>Broadcast receiver, Service, Content providers;</li>
                                    <li>File Systems, APIs, HTTP, Application signing & deployment;</li>
                                </ul>
                            </div>
                            
                          
                        </div>
                    </div>
                
                  </div>
                </div>
              </div>





        </div>




        <div class="col-md-4" >



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card mat-elevation-z6">
                  <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> 
                    SEIP (Android Apps Development)
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

                  

                   


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <img  src='assets/img/seip.jpg' 
                            style="width: 100%; height: 100%; ">
                        </div>
                    </div>

                    <table class="table table-sm table-bordered" style="margin-bottom: 0px; padding-bottom: 0px;">

                        
                     
                        <tbody class="MyCustomFont">
  
                          <tr style="height: 20px;">
                              <td style="width: 70%;">
                                  <i class="fa fa-institution"></i> 
                                  BITM
                              </td>
                              <td style="width: 30%; text-align: right;">
                                  <i class="fa fa-map-marker"></i>
                                Dhaka, BD
                              </td>
                            </tr>
  
                            <tr>
                              <td style="width: 70%;">
                                  <i class="fa fa-graduation-cap"></i>
                                  Android Application Development
                              </td>
                              <td style="width: 30%; text-align: right;">
                                  <i class="fa fa-calendar"></i>
                                2017
                              </td>
                            </tr>
  
                        </tbody>
                      </table>


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                                <h6 style="margin: 0px; padding: 5px;">What I've learned</h6>
                            </div>
                            <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                              <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                                <li>OOP Basics, Java Basic;</li>
                                <li>Android Overview and Quick start;</li>
                                <li>Main Buildin blocks, Android UI, Web service, List & Adapters;</li>
                                <li>SQLite database, Firebase realtime database;</li>
                                <li>Broadcast receiver, Service, Content providers;</li>
                                <li>File Systems, APIs, HTTP, Application signing & deployment;</li>
                            </ul>
                            </div>
                            
                          
                        </div>
                    </div>
                
                  </div>
                </div>
              </div>





        </div>






        <div class="col-md-4" >



            <div class="col-md-12" style="display: inline-block; padding: 0px; margin: 0px;">
                <div class="card mat-elevation-z6">
                  <div class="card-header MyCustomFont" style="color: #2F2875; font-weight: bold;">
                    <i class="fa fa-align-justify"></i> 
                   Google Cloud Platforms
                  </div>
                  <div class="card-body" style="margin-bottom: 0px; padding: 5px;">

                  

                   


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <img  src='assets/img/gcp.jpg' 
                            style="width: 100%; height: 100%; ">
                        </div>
                    </div>

                    <table class="table table-sm table-bordered" style="margin-bottom: 0px; padding-bottom: 0px;">

                        
                     
                        <tbody class="MyCustomFont">
  
                          <tr style="height: 20px;">
                              <td style="width: 70%;">
                                  <i class="fa fa-institution"></i> 
                                  Daffodil International University
                              </td>
                              <td style="width: 30%; text-align: right;">
                                  <i class="fa fa-map-marker"></i>
                                Dhaka, BD
                              </td>
                            </tr>
  
                            <tr>
                              <td style="width: 70%;">
                                  <i class="fa fa-graduation-cap"></i>
                                  Google Cloud Platforms Essentials
                              </td>
                              <td style="width: 30%; text-align: right;">
                                  <i class="fa fa-calendar"></i>
                                2017
                              </td>
                            </tr>
  
                        </tbody>
                      </table>


                    <div class="col-md-12" style="padding: 0px; margin: 0px;">
                        <div style="width: 100%; padding: 0px; margin: 0px;">
                            <div class="col-md-12" style="padding: 0px; margin: 0px; background-color: #BEDCE6;">
                                <h6 style="margin: 0px; padding: 5px;">What I've learned</h6>
                            </div>
                            <div class="col-md-12" style="padding: 0px; margin: 0px; border: 1px solid #ccc;">
                                <ul class="MyCustomFont" style="margin: 0px; padding-top: 0px; background-color: #fff;">
                                    <li>Received this certificate from Google Cloud Study Jam;</li>
                                    <li>Learned about Google Cloud Platform;</li>
                                    <li>Compute services;</li>
                                    <li>Database and storage services;</li>
                                    <li>Machine learning and visualization;</li>
                                    <li>Networking and developer tools;</li>
                                </ul>
                            </div>
                            
                          
                        </div>
                    </div>
                
                  </div>
                </div>
              </div>





        </div>




       





      





      

        



        
        

       

      </div>



      


      


    </div>
  </div>

